@import '../../styles/variables.scss';

.socials {
	@extend %flex;
	flex-direction: column;
	padding: 15px 0;
	gap: 5px;
}

.item {
	@extend %flex;
}

.link {
	writing-mode: tb-rl;
	transform: rotate(180deg);
	color: map-get($color, 'primary');
	padding: 10px;
	@extend %transition;

	&:is(:hover, :focus) {
		color: map-get($hover, 'gray');
	}
}

@include tablet {
	.socials {
		padding: 0;
	}
}

@include mobile {
	.socials {
		display: none;
		/* flex-direction: row;
        flex-wrap: wrap;
        padding: 0 15px;
        width: 100%;
        justify-content: space-evenly;

        &__link {
            font-size: 18px;
            writing-mode: initial;
            transform: rotate(0);
        } */
	}
}
